<%- include('../partials/header') %>

<main>
  <div class="reviews__content">
    <h1><%- movie.title %> (<%- movie.releaseDate.split('-').at(0) %>)</h1>
    <div class="reviews__wrapper">
      <div class="reviews__left">
        <img class="reviews__image" src="<%- movie.imageURL %>" alt="">
        <button class="btn reviews__btn--add">
          Add a review
        </button>
      </div>
      <div class="reviews__right">
        <ul class="reviews__list">
          <% for (let review of reviews) { %>
          <li class="reviews__item">
            <div class="reviews__rating"><%- review.rating %></div>
            <div class="reviews__content">
              <p class="reviews__timestamp">
                <%- review.createdAt %>
              </p>
              <p><%- review.content %></p>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>